
@font-face {
    font-family: charter;
    src: url('../css/fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../css/fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url('../css/fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url('../css/fonts/charter-bold-italic.otf') ;
    font-style: italic;
    font-weight: bold;
}
:root {
    font-size: 16px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}
/*html {
    scroll-behavior: smooth;
}*/
body {
    color: var(--gray30);
    font-family: gray'Roboto', sans-serif;
    /*background:*/
}
a {
    color: var(--gray30);
}
header{
    font-size: 14px;
    width: 188px;
    color: var(--gray10);
    position: absolute;
    /*border: 1px solid blue;*/
    top: 64px;
    left: -232px;
    z-index: 1;
}
header a {
    color: var(--gray10);
    text-decoration:nome;
}
header a:hover {
    color: var(--gray10);
}
nav details summary {
    font-weight: bold;
    line-height: 24px;
}
header li {
    margin-bottom: 16px;
}
h1 {
    font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: normal;
}
/* hr + p {
    margin-bottom: 64px 0;
} */
hr {
    margin-bottom: 64px 0;
}
h2 {
    font-size: 2em;
    margin:64px 0 40px;
    font-weight: normal;
}
h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}
pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}
blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    /*border: 1px solid violet;*/
    border-left: 4px solid var(--gray30);
}
blockquote span{
    color:var(--gray10);
}
blockquote span::before {
    content: '-';
}
.header {
    /*border: 1px solid black;*/
    position: sticky;
    top: 0;
}
.header-content {
    position: relative;
}
.main {
    /*border: 1px solid blue;*/
}
.wrapper {
    width: 902px;
    margin: auto;
}
.main-content {
    /*padding: 20px;*/
background: white;
}
.hero {
    background-image:linear-gradient(to top, rgba(255,255,255,.3), transparent), url('../images/pattern.png');
    /*background-repeat: no-repeat;*/ 
    /*background-position: left: 50px bottom -50px;*/
    /*background-size: cover;*/
    height: 350px;
}
.section-content {
    margin-top: 164px;
}
.section-content:first-of-type {
    margin: 0;
}
.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}
.section-content + hr {
    display: none;
}
.section-content img{
    margin-top: 40px;
}
.section-content{
    counter-reset: titleList;
}
.section-content h3 {
    counter-increment: titleList;
    padding-bottom: 8px;
}
.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}
.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
    /*position: absolute;
    left: 0;
    bottom: 0;*/
}